<div class="container">
  <div class="d-flex justify-content-center">
    <app-menu-title title="the blog" ></app-menu-title>
  </div>
    <div class="d-flex flex-md-row flex-column">
      <div class="col-md-8 col-12">
        <app-big-card
         Id="1"
         photo="https://images.unsplash.com/photo-1679678691010-894374986c54?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1198&q=80"
         title="Piloto ola mundo!"
         paragraph="Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolor distinctio voluptates beatae, tempora maxime nam asperiores fuga. Natus porro reprehenderit perferendis repellat tenetur dignissimos voluptates totam modi sed dolorem."
        ></app-big-card>
      </div>
      <div class="col-md-4 col-12">
        <app-small-card
          Id="2"
          photo="https://images.unsplash.com/photo-1678025276032-fd796f4a0ec2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDQxfENEd3V3WEpBYkV3fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
          title="Titulo do paragrafo dois"
          paragraph="Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolor distinctio voluptates beatae, tempora maxime nam asperiores fuga."
        ></app-small-card>
        <app-small-card
          Id="3"
        photo="https://images.unsplash.com/photo-1678780593184-c71d50923fd9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDR8SnBnNktpZGwtSGt8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60"
        title="Titulo do paragrafo três"
        paragraph="Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolor distinctio voluptates beatae, tempora maxime nam asperiores fuga."
        ></app-small-card>
      </div>
    </div>
    <hr/>
    <br/>
    <div class="d-flex flex-md-row flex-column">
        <div class="col-md-4 col-12">
          <app-small-card
          Id="4"
        photo="https://images.unsplash.com/photo-1678365202203-a362fa7c880d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDExfGhtZW52UWhVbXhNfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
        title="Titulo para o paragrafo quatro"
        paragraph="Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolor distinctio voluptates beatae, tempora maxime nam asperiores fuga."
        ></app-small-card>
        </div>
        <div class="col-md-4 col-12">
          <app-small-card
          Id="5"
        photo="https://images.unsplash.com/photo-1676615990362-31f4515bf3f9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDM1fGhtZW52UWhVbXhNfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
        title="Titulo para o paragrafo cinco"
        paragraph="Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolor distinctio voluptates beatae, tempora maxime nam asperiores fuga."
        ></app-small-card>
        </div>
        <div class="col-md-4 col-12">
          <app-small-card
          Id="6"
        photo="https://images.unsplash.com/photo-1679673177212-8a011a4f86f7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDF8Ym84alFLVGFFMFl8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60"
        title="Titulo para o paragrafo seis"
        paragraph="Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolor distinctio voluptates beatae, tempora maxime nam asperiores fuga."
        ></app-small-card>
        </div>
    </div>
</div>
